{% extends "base.html" %}
{% block content %}
<body>
<div class="text-center container_format p-3">
  <h1 class="container_text">About Us</h1>
  <p class="container_text"> We aim to empower through access to information</p>
</div>
    <!-- ======= About Section ======= -->
    <section>
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{{ url_for('static',filename='assets/about_us_summary.png') }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
            <p class="fst-italic">
              Baltimore Resource Search is a website committed to helping all people find quick and easy information about affordable local clinics and shelters, and to also help ease access to food.
              We also strive to make finding volunteer opportunities easy!
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->


</body>
{% endblock %}