{% extends 'base.html' %}
{% block content %}

<center>
    <section class="py-5">
            <div class="jumbotron text-center">
                <div class="row justify-content-center">
                        <h1>Volunteer Opportunity Calendar </h1>
                        <p class="lead"> Follow the links in this calendar to learn more about each program and to express interest.</p>
                </div>
            </div>
<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&showTabs=1&showTitle=1&src=YXJhdGEyQHVtYmMuZWR1&src=Y19qbnY5bG9oOG5uMDlhbzBsdTcyaHJ0NXZza0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%23D50000" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>

          <div class="container my-5">
                <div class="row justify-content-center">

                        <h1>Volunteer Opportunities </h1>
                        <p class="lead"> This list has been compiled to help those who wish to volunteer find the opportunities to do so. Please use the contact information provided below to express interest.</p>,
                </div>
            </div>
</center>
        </section>
{% endblock %}