<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Finding Resources in Baltimore,<br>Made Easy</h1>
      <h2>Clinics, Food Pantries, and Shelters</h2>
      <a href="{{ url_for('map') }}"class="btn-get-started">Find Now</a>
    </div>
  </section><!-- End Hero -->
  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Empowerment through access</h3>
              <p>
                Nobody asks for challenging times, but when they hit, finding help shouldn't add to the pain. Numerous services exist - and we've found them so you don't have to.
              </p>
              <div class="text-center">
                <a href="{{ url_for('about') }}" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <div>
                      <img src="{{ url_for('static',filename='assets/yellow_clinic.png') }}" class="img-fluid" style="width: 50%; height: auto; padding-bottom: 10%;">
                    </div>
                    <h4>Free Clinics</h4>  <!-- To do: link to list of free clinics -->
                    <p>Healthcare costs can be scary, but there are options! Numerous free/affordable clinics exist in Baltimore.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <div>
                      <img src="{{ url_for('static',filename='assets/yellow_food_pantry.png') }}" class="img-fluid" style="width: 50%; height: auto; padding-bottom: 10%;">
                    </div>
                    <h4>Food Pantries</h4> <!-- To do: link to list of food pantries -->
                    <p>Nobody should have to go hungry, and many organizations exist to ensure no one has to in Baltimore.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <div>
                      <img src="{{ url_for('static',filename='assets/yellow_shelter.png') }}" class="img-fluid" style="width: 50%; height: auto; padding-bottom: 10%;">
                    </div>
                    <h4>Shelters</h4> <!-- To do: link to list of shelters -->
                    <p>Whether in need of financial relief or physical housing, there are many organizations that can help.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-4 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="47" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clinics</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="23" data-purecounter-duration="1" class="purecounter"></span>
            <p>Food Pantries</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="13" data-purecounter-duration="1" class="purecounter"></span>
            <p>Shelters</p>
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

  </main><!-- End #main -->
{% endblock %}