{% extends "base.html" %}
{% block content %}

<div class="text-center container_format p-3">
  <h1 class="container_text">Guides</h1>
    <p class="container_text">In depth explanations of services offered.</p>
</div>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/medicare.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Health</h4>
                </div>
                <h3><a href="{{"https://www.medicare.gov/what-medicare-covers/your-medicare-coverage-choices/whats-medicare"}}">Medicare</a></h3>
                <p>Medicare is a federal medical insurance program for people aged 65+, younger patients with disabilities, and all people with End-Stage Renal Disease.
                   People receiving medicare do pay yearly deductibles and often pay 20% of the costs for the services they receive. Different plans exist and costs can vary.
                 </p>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/hands.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Health</h4>
                </div>
                <h3><a href="{{ "https://www.marylandhealthconnection.gov/after-you-enroll/medicaid/what-medicaid-covers/" }}">Medicaid</a></h3>
                <p>Medicaid is the largest provider of health insurance to Americans. This program serves eligible recipients regardless of age and can be used with other services (such as medicare).
                  In the case of Maryland, medicaid covers everything from hospital visits to prescription drugs - all at no cost. See the official page for a list of services that are covered (click the 'Medicaid' caption above).
                </p>
              </div>
            </div>
          </div> <!-- End Course Item-->

  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/vegetables.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Food</h4>
                </div>
                <h3><a href="{{ "https://dhs.maryland.gov/supplemental-nutrition-assistance-program/applying-for-the-food-supplement-program/" }}">SNAP Benefits</a></h3>
                <p>SNAP provides funding to help people afford food items. This is done through the issuance of a SNAP card, which can be used like a credit card at locations that accept it. SNAP benefits vary based on the net household income and have limits based on household size. There are also some rules regarding eligibility such as work requirements,
                  and certain food items cannot be purchased with these benefits. </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

           <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/apartment.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Housing</h4>
                </div>
                <h3><a href="{{ "https://www.habc.org/habc-information/programs-departments/public-housing-and-rad/" }}">Public Housing and RAD</a></h3>
                <p> The Housing Authority of Baltimore City offers affordable housing to low-income families and individuals through the Public Housing program.
                  The Rental Assistance program (RAD) is also available to help these groups find and afford housing. Please note that some rent is paid by recipients in either case.  </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/money.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Finances</h4>
                </div>
                <h3><a href="{{ "https://dhs.maryland.gov/weathering-tough-times/temporary-cash-assistance/"}}">Temporary Cash Assistance </a></h3>
                <p> “Temporary Cash Assistance (TCA), Maryland’s Temporary Assistance to Needy Families (TANF) program, provides cash assistance to families with dependent children when available resources do not fully address the family’s needs and while preparing program participants for independence through work.”
                  </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

           <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/hcvp.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Housing</h4>
                </div>
                <h3><a href="{{ "https://www.habc.org/habc-information/programs-departments/hcvp/"}}">Housing Choice Voucher Program </a></h3>
                <p> This voucher program is offered in several counties in Maryland, as well as Baltimore City, to help with housing costs. This is based on household income. There are sub-divisions of this program offered in Baltimore as well.
                </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/unemployment_insurance.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Finances</h4>
                </div>
                <h3><a href="{{ "https://www.dllr.state.md.us/employment/claimfaq.shtml"}}"> Unemployment Insurance </a></h3>
                <p> This program provides financial assistance to people who are unemployed and meet certain eligibility requirements.
                  An expectation is that this program will provide temporary assistance until a new place of employment is found by the recipient. </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

             <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/homelessness_prevention.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Housing</h4>
                </div>
                <h3><a href="{{ "https://dhs.maryland.gov/weathering-tough-times/homelessness-prevention-program/"}}">Homelessness Prevention Program</a></h3>
                <p>This program provides one-time grants to help recipients avoid eviction. Moreover, counseling services are provided to help throughout this process.
                  Clients are also trained such that the necessary skills are learned to avoid facing a similar situation in the future.   </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

             <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/income_tax.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Finances</h4>
                </div>
                <h3><a href="{{ "https://dhs.maryland.gov/weathering-tough-times/earned-income-tax-credit/" }}">Earned Income Tax Credit</a></h3>
                <p>While not a “program” in the sense that this section has generally covered, this credit can help individuals with low to moderate incomes save some money. There is a federal version of this program as well, but a state-level one is also available to Maryland residents.
                  This can reduce, or even eliminate, the amount of income tax owed to the state.   </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

               <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/family.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Finances</h4>
                </div>
                <h3><a href="{{ "https://dhs.maryland.gov/weathering-tough-times/emergency-assistance/" }}">Emergency Assistance to Families with Children</a></h3>
                <p>  This program gives emergency cash to families so they can pay for rent, utilities, or other emergency situations. Families receiving aid must have a child under 21, face the emergency not because of having quit a job, and must provide proof of the emergency – in addition to meeting other eligibility requirements.
                  An Emergency Assistance Form can be filled out online. </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/medical.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Health</h4>
                </div>
                <h3><a href="{{ "https://dhs.maryland.gov/weathering-tough-times/medical-assistance/" }}">Maryland Medical Assistance Programs</a> </h3>
                <p> Several programs exist to address numerous situations including ensuring that children (up to age 19) from disadvantaged families are medically insured, providing supplemental assistance to Medicare coverage, and covering nursing home costs.
                  Eligibility is generally decided based on income level relative to the federally-defined poverty level.   </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/energy.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Finances</h4>
                </div>
                <h3><a href="{{ "https://dhs.maryland.gov/office-of-home-energy-programs/" }}">Energy and Water Assistance</a></h3>
                <p> “The Office of Home Energy Programs (OHEP) provides bill assistance to low-income households in the State of Maryland." Specifically, they provide grants covering utility bills – including heating, electric and gas bills. Assistance for past-due bills is also available.
                  Programs also exist that help pay water bills,  ensure that heating is not lost during the winter months, and to aid with making home repairs  </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/hospice.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Finances</h4>
                </div>
                <h3><a href="{{ "https://dhs.maryland.gov/weathering-tough-times/public-assistance-adults/" }}"></a>Public Assistance to Adults </h3>
                <p> This program pays for the “cost of care and a personal needs allowance for needy individuals who live in assisted living facilities licensed by the Maryland Department of Health (MDH) and in Certified Adult Residential Environmental homes (also known as Project Home). PAA pays only the personal needs allowance to needy people in MDH Rehabilitative Residences.”  </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/wheelchair.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Finances</h4>
                </div>
                <h3><a href="{{ "https://dhs.maryland.gov/weathering-tough-times/temporary-disability-assistance/" }}">Temporary Disability Assistance </a></h3>
                <p>"The Temporary Disability Assistance Program (TDAP) is available to help low-income,
                  disabled Marylanders through a period of short-term disability or while they are awaiting approval of federal disability support."
                  Please remember to apply for the federal disability support if you suffer from a chronic disability.
                  </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/driving.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Transport</h4>
                </div>
                <h3><a href="{{ "https://dhs.maryland.gov/weathering-tough-times/transportation-assistance-program-tap/" }}">Transportation Assistance Program </a></h3>
                <p> “Through a network of partners across the state, TAP provides reliable used vehicles that will serve eligible low-income families for two years or 24,000 miles.”
                  This is meant to help people advance their careers or take higher-paying jobs for which they are qualified but otherwise unable to reach due to lacking transportation.  </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/coffin.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Finances</h4>
                </div>
                <h3><a href="{{ "https://dhs.maryland.gov/weathering-tough-times/burial-assistance/" }}">Burial Assistance Program </a></h3>
                <p> “Through a network of partners across the state, TAP provides reliable used vehicles that will serve eligible low-income families for two years or 24,000 miles.”
                  This is meant to help people advance their careers or take higher-paying jobs for which they are qualified but otherwise unable to reach due to lacking transportation.  </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

           <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/drugs.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Health</h4>
                </div>
                <h3><a href="{{ "https://health.maryland.gov/phpa/OIDPCS/AVHPP/Pages/pharmaceutical-assistance.aspx" }}">Pharmaceutical Assistance Programs </a></h3>
                <p> Maryland residents have several programs available to them that are dedicated to ensuring all people can receive the medications they need. The requirements vary per program - detailed information can be found by following the link above.  </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/lawyer.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Finances</h4>
                </div>
                <h3><a href="{{ "https://www.needhelppayingbills.com/html/free_legal_advice_maryland_leg.html" }}">Maryland Legal Aid </a></h3>
                <p> Provides legal services to low-income and marginalized individuals who face civil legal problems but cannot afford a lawyer.   </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/tomatoes.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Food</h4>
                </div>
                <h3><a href="{{ "https://www.needhelppayingbills.com/html/free_legal_advice_maryland_leg.html" }}"> Meals on Wheels </a></h3>
                <p> This program is largely operated by volunteers and provides meals to senior citizens and people with disabilities throughout Maryland. They also consider dietary restrictions, with options pork-free as well as texture-controlled options available.  </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/college_student.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Education</h4>
                </div>
                <h3><a href="{{ "https://studentaid.gov/apply-for-aid/fafsa/filling-out/help"}}">FAFSA</a></h3>
                <p>The Free Application for Federal Student Aid is an assistance program that provides funding to students for attending college or career school in the United States. Assistance can come in the form of grants, work-study, or loans. In the case of loans, the applicant is responsible for repaying the amount accrued after the education is completed, with monthly payments generally beginning 6-months post-graduation.
                  There is no guarantee the amount received will completely cover school-related costs.</p>
                </div>
              </div>
              </div>
          </div> <!-- End Course Item-->
        </div>
    </section><!-- End Courses Section -->
<body>
{% endblock %}
