{% extends "base.html" %}
{% block content %}

<div class="jumbotron text-center">
  <h1>How To</h1>
  <h2> Need help navigating the process of applying for aid? This page makes it easy! </h2>
    <p> Below is a collection of sites organized by type</p>
</div>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/medicare.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Health</h4>
                </div>
                <h3><a href="{{ url_for('how') }}">Medicare</a></h3>
                <p>Medicare is a program aimed toward providing health coverage to individuals aged 65 and older.
                  Please note that medicare will not cover ALL expenses, though it does typically cover most costs (to a point - this varies).
                  Generally, covered costs are those that are absolutely necessary ("medically necessary").</p>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/hands.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Health</h4>
                </div>
                <h3><a href="{{ url_for('how') }}">Medicaid</a></h3>
                <p>Medicaid is the largest provider of health insurance to Americans. in fact, many people are actually guranteed coverage (i.e. "mandatory eligibility groups"). These groups include:
                  low-income families, people receiving SSI, and many others. The link above porivdes specifics about eligibility criteria,
                  further background information, and notable exceptions that are made to help extend coverage.</p>
              </div>
            </div>
          </div> <!-- End Course Item-->

  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/vegetables.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Food</h4>
                </div>
                <h3><a href="{{ url_for('how') }}">SNAP Benefits (Formerly Food Stamps)</a></h3>
                <p>SNAP provides funding to help people afford food items. This is done through the issuance of a SNAP card, which can be used like a credit card at locations that accept it, of which there are many.
                  SNAP benefits vary based on the net household income (how much money the household keeps per month) and have limits set based on household size. Please note there are restrictions on which items can be purchased (view above links). There are also some rules regarding eligibility that are important to understand, such as work requirements.  </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

           <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/apartment.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Food</h4>
                </div>
                <h3><a href="{{ url_for('how') }}"></a>Public Housing and RAD</h3>
                <p> The Housing Authority of Baltimore City offers affordable housing to low-income families and individuals through the Public Housing program.
                  The Rental Assistance program (RAD) is also available to help these groups find housing.  </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/money.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Finances</h4>
                </div>
                <h3><a href="{{ url_for('how') }}"></a>Temporary Cash Assistance </h3>
                <p> “Temporary Cash Assistance (TCA), Maryland’s Temporary Assistance to Needy Families (TANF) program, provides cash assistance to families with dependent children when available resources do not fully address the family’s needs and while preparing program participants for independence through work.”
                  There are also, of course, eligibility requirements. Follow the link above to view these requirements and to access the application. </p>
                </div>
              </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-2 mt-lg-0">
            <div class="course-item">
              <img src="{{ url_for('static',filename='assets/education.jpg') }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Education</h4>
                </div>
                <h3><a href="{{ url_for('how') }}">FAFSA</a></h3>
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                </div>
              </div>
              </div>
          </div> <!-- End Course Item-->

        </div>

    </section><!-- End Courses Section -->
<body>


{% endblock %}





