{% extends "base.html" %}
{% block content %}
<head>
  <meta charset='utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
<style>

#map {
  position: relative;
  left: 0px;
  width: 100%;
  height: 600px;
}

.marker {
  width: 25px;
  height: 25px;
  background-size: 100%;
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

</style>
</head>
<body>

<div class="text-center container_format p-3">
  <h1 class="container_text">Find Resources</h1>
  <p class="container_text">Search for clinics, food pantries, and shelters near you</p>
</div>
<!-- <iframe src="https://www.google.com/maps/d/embed?mid=1VywMzclh_xVN_HeWC27-MZ6f0cVCT-0&ehbc=2E312F" width="100%" height="640px"></iframe> -->

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div style="padding: 1%;">
        <div id="map"></div>
      </div>
    </div>
    <div class="col-lg-3" style="overflow-y:scroll; height:600px; padding: 1%;">
      <div id="test">
       
      </div>
    </div>
  </div>
</div>
</body>
<script>
	// TO MAKE THE MAP APPEAR YOU MUST
	// ADD YOUR ACCESS TOKEN FROM
	// https://account.mapbox.com
mapboxgl.accessToken = 'pk.eyJ1IjoiYWRhbXJhdGEiLCJhIjoiY2wxdHAzaWM1MDdsdjNvbnMzOTJyNGloeiJ9.bhcqHL7YxUH2f3JDNwHTzw';
const map = new mapboxgl.Map({
  testMode: true,
  container: 'map', // container ID
  style: 'mapbox://styles/mapbox/streets-v11', // style URL
  center: [-76.612190, 39.290386], // starting position [lng, lat]
  zoom: 11 // starting zoom
});

var element = document.getElementById("test");

const createNew = (content) => {
  var row_div = document.createElement("div");
  row_div.className = 'row';
  row_div.style.cssText = 'padding: 1%'

  var card_div = document.createElement("div");
  card_div.className = 'card';

  var card_body_div = document.createElement("div");
  card_body_div.className = 'card-body';

  var card_body_h5 = document.createElement("h5");
  card_body_h5.className = 'card-title';
  var text = document.createTextNode(content.properties.title);
  card_body_h5.append(text);

  var card_body_h6 = document.createElement("h6");
  card_body_h6.classList.add('card-subtitle');
  card_body_h6.classList.add('mb-2');
  card_body_h6.classList.add('text-muted');
  var text2 = document.createTextNode(content.type);
  card_body_h6.append(text2);

  var card_body_phone = document.createElement("p");
  card_body_phone.className = 'card-text';
  var text3 = document.createTextNode(content.properties.phone_number);
  card_body_phone.append(text3);
  
  var card_body_dir_link = document.createElement("a");
  card_body_dir_link.className = 'card-link';
  var text3 = document.createTextNode('Directions');
  card_body_dir_link.setAttribute('href', "https://www.google.com/maps/dir/Baltimore+MD/" + content.properties.title.replace(' ', '+') + content.properties.address.replace(' ', '+'));
  card_body_dir_link.append(text3);

  var card_body_web_link = document.createElement("a");
  card_body_web_link.className = 'card-link';
  var text3 = document.createTextNode('Website');
  card_body_web_link.setAttribute('href', content.properties.website_link);
  card_body_web_link.append(text3);

  card_body_div.append(card_body_h5);
  card_body_div.append(card_body_h6);
  card_body_div.append(card_body_phone);
  card_body_div.append(card_body_dir_link);
  card_body_div.append(card_body_web_link);

  card_div.append(card_body_div);
  row_div.append(card_div);
	element.append(row_div)
}

var jsonn = JSON.parse('{{ jsonn | tojson | safe}}');

// add markers to mapfor (const feature of geojson.features)
for (const feature of JSON.parse('{{ jsonn | tojson | safe}}').features) {
  // make a marker for each feature and add to the map
  // https://docs.mapbox.com/help/tutorials/custom-markers-gl-js/
  // create a HTML element for each feature
 
  //appendChild(feature.properties.title)
  const el = document.createElement('div');
  el.className = 'marker';

  createNew(feature)
  
  if(feature.type == 'Clinic'){
    el.style.backgroundImage = 'url(/static/assets/clinic.jpg)';
  }
  else if (feature.type == 'Shelter'){
    el.style.backgroundImage = 'url(/static/assets/house.png)';
  }
  else if (feature.type == 'Food Pantry'){
    el.style.backgroundImage = 'url(/static/assets/food.png)';
  }
  new mapboxgl.Marker(el).setLngLat(feature.geometry.coordinates).setPopup(
      new mapboxgl.Popup({ offset: 25 }) // add popups
        .setHTML(
          `<h3>${feature.properties.title}</h3><p>${feature.properties.description}</p>
          <p>${feature.properties.address}</p><p>${feature.properties.phone_number}</p>`
        )
    ).addTo(map);
}

</script>
{% endblock %}