<div class="container">
  <nav class="navbar">
    <!-- LOGO -->
    <a class="logo" href="{{ url_for('index') }}"> BRF </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav-links">
      <li class="nav-link"><a href="{{ url_for('index') }}">Home</a></li>
      <li class="nav-link"><a href="{{ url_for('about') }}">About Us</a></li>
      <li class="nav-link"><a href="{{ url_for('how') }}">Guides</a></li>
      <li class="nav-link"><a href="{{ url_for('volunteer') }}">Volunteer</a></li>
      <ul class="nav-button">
        <li class="nav-link"><a href="{{ url_for('map') }}">Find Now</a></li>
      </ul>
    </ul>
    
  </nav><!-- .navbar -->

</div>
