<nav class="navbar">
  <ul>
    <li><a href="{{ url_for('index') }}"><img src="{{ url_for('static',filename='assets/brf.png') }}" href="{{ url_for('index') }}" style="height: 20px;"></a></li>
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('map') }}">Finder</a></li>
    <li><a href="{{ url_for('how') }}">Guides</a></li>
    <li><a href="{{ url_for('volunteer') }}">Service</a></li>
    <li><a href="{{ url_for('about') }}">About Us</a></li>
  </ul>
  <i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->